version: '3.3'
services:
    freshrss:
        container_name: freshrss
        environment:
            - TZ='{{ FRESHRSS_TIMEZONE }}'
            - PUID={{ FRESHRSS_PUID }}
            - PGID={{ FRESHRSS_PGID }}
        ports:
            - '127.0.0.1:{{ FRESHRSS_HTTP_PORT }}:80/tcp'
            - '127.0.0.1:{{ FRESHRSS_HTTPS_PORT }}:443/tcp'
        volumes:
            - '{{ FRESHRSS_PATH }}/volumes/config:/config:Z'
        image: 'lscr.io/linuxserver/freshrss:{{ FRESHRSS_CONTAINER_VERSION }}'
        restart: unless-stopped
        network_mode: bridge
